#container {
  display: flex;
  max-height: 90vh;
  min-height: 90vh;
}

#board {
  /* flex: 4; */
  background-color: #f1f1f1;
  border: 2px black solid;
}

#command-field {
  /* flex: 1; */
  background-color: blue;
}

#commands-list {
    background-color: #8E9EA3;
    height: 95%;
    font-size: 20px;
    overflow-x: auto;
    overflow-y: auto;
}

#input-area {
  height: 5%;
  background-color: black;
  display: flex;
}

#input-field {
  flex: 4;
  font-size: 20px;
  height: 85%
}

#send-button {
  flex: 1;
}
